<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>07 Form</title>
    <style>
        form {
        border: 1px solid #ddd;
        padding:5px;
        width:225px;
        background: #efefef;
        }
        label{
        display: block;
        margin-top: 5px;
        }
        input, textarea, select, option {
        min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit="submitForm($event)" action="http://example.com/add-product" method="post">
            <label>Title: {{title}}</label>
            <br>
            <input type="text" v-model="title" />
            <br>
            <br>
            <label>Description:</label>
            <br>
            <textarea v-model="description"></textarea>
            <br>
            <br>
            <label>Authors:</label>
            <br>
            <input type="text" v-model="authors">
            <br>
            <br>
            <label>Price:</label>
            <br>
            <input type="number" v-model.number="price">
            <br>
            <br>
            <label>Categories:</label>
            <br>
            <select v-model="categories" multiple>
                <option v-for="option in options" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <br>
            <br>
            <label></label>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="vue.js"></script>
    <script>

        var vm = new Vue({
            el:"#app",
            data:{
                title: '',
                description: '',
                authors: '',
                price: 0,
                categories: [],
                options:[
                    {text: 'Andorid Developer', value:'01'},
                    {text: 'Web Developer', value:'02'},
                    {text: 'AI Developer', value:'03'},
                ]
            },
            methods: {
                submitForm(event){
                    let error = 0
                    if(this.title.length < 3){
                    error++
                    alert('Title minimal 3 karakter!')
                    }
                    else if(this.description.length > 500){
                    error++
                    alert('Description maximal 500 karakter!')
                    }
                    else if(this.authors.length < 3){
                    error++
                    alert('Authors minimal 3 karakter!')
                    }
                    else if(this.price < 0){
                    error++
                    alert('Price tidak boleh minus!')
                    }
                    else if(this.categories.length === 0){
                    error++
                    alert('Pilih minimal 1 category!')
                    }
                    if( error === 0 ){
                    alert('Terima kasih telah mengisi data dengan benar!')
                    // kirim data ke server
                    }
                    event.preventDefault()
                }
            },
        });
    </script>
</body>
</html>